manifest {
    mainScript = 'main.nf'
}

docker {
    enabled = false
}

// default parameters
params {
  output = 'results'
  threads = "4"
  mem = "8"
  assemblies = "test_data/rna-spades.fasta"
  reads = "test_data/eco.fastq" 
  reference = ''
  annotation = ''
  busco_dataset = 'enterobacteriales_odb9'
  help = false
}

process {
    withName:HISAT2 {
        container = 'nanozoo/hisat2:2.1.0--c6f93d9'
    }
    withName:BUSCO {
        container = 'nanozoo/busco:3.0.2--a8ce7e1'
    }
}
