manifest {
    mainScript = 'main.nf'
}

// default parameters
params {
  threads = "4"
  mem = "8"

  assemblies = "test_data/rna-spades.fasta"
  reads = "test_data/eco.fastq" 

  reference = ''
  annotation = ''

  busco = 'bacteria_odb9'
  help = false
  profile = false

  // folder structure
  output = 'results'
  mappingdir = '01-Mapping'
  buscodir = '02-Busco'
  transratedir = '03-TransRate'
  rnaquastdir = '04-rnaQUAST'
}

profiles {
  
    standard { includeConfig 'configs/local.config' }

    conda { includeConfig 'configs/conda.config' }

    googlegenomics { includeConfig 'configs/googlegenomics.config' }
      
} 
