manifest {
    mainScript = 'main.nf'
}

// default parameters
params {
  threads = "4"
  mem = "8"

  assemblies = "test_data/rna-spades.fasta"
  reads = "test_data/eco.fastq" 

  reference = ''
  annotation = ''

  busco_dataset = 'enterobacteriales_odb9'
  help = false
  profile = false

  // folder structure
  output = 'results'
  assemblydir = '01-Assembly'
}

profiles {
  
    standard { includeConfig 'configs/local.config' }

    googlegenomics { includeConfig 'configs/googlegenomics.config' }
      
} 