
workDir = "/tmp/nextflow-work-$USER"
process.executor = 'local'
docker { enabled = false }

        process {
            withLabel: HISAT2 { cpus = params.threads ; conda = 'bioconda::hisat2=2.1.0' } 
            withLabel: BUSCO { cpus = params.threads ; conda = 'bioconda::busco=3.0.2' }
        }
