
workDir = "/tmp/nextflow-work-$USER"
process.executor = 'local'
docker { enabled = false }

        process {
            withLabel: HISAT2 { cpus = params.threads ; conda = 'envs/hisat2.yaml' }  
            withLabel: BUSCO { cpus = params.threads ; conda = 'envs/busco.yaml' }
            withLabel: TRANSRATE { cpus = params.threads ; conda = 'envs/transrate.yaml' }
            withLabel: RNAQUAST { cpus = params.threads ; conda = 'envs/rnaquast.yaml' }
            withLabel: DETONATE { cpus = params.threads ; conda = 'envs/detonate.yaml' }
            withLabel: RSEM { cpus = params.threads ; conda = 'envs/rsem.yaml' }
            withLabel: Ex90N50 { cpus = params.threads ; conda = 'envs/ex90n50.yaml' }
            withLabel: HEATMAP { conda = 'envs/heatmap.yaml'}
        }
