
workDir = "/tmp/nextflow-work-$USER"
//bucketDir = 'gs://nextflow-tmp-workdir/'

docker { enabled = true }

google {  project = 'nextflow-auto'
          zone = 'europe-west1-b' }

cloud { preemptible = true }
            
    process {   
        executor = 'google-pipelines'

        withLabel: busco { cpus = 8 ; memory = '30 GB' ; container = 'nanozoo/busco:3.0.2--a8ce7e1' } 
    }