
workDir = "/tmp/nextflow-work-$USER"
bucketDir = 'gs://matrice/nextflow-workdir/'

docker { enabled = true }

google {  project = 'nextflow-auto-255816'
          zone = 'europe-west2-b' }

cloud { preemptible = true }
            
    process {   
        executor = 'google-pipelines'

        withLabel: HISAT2 { cpus = 4 ; memory = '20 GB'  ; container = 'nanozoo/hisat2:2.1.0--c6f93d9' } 
        withLabel: BUSCO { cpus = 4 ; memory = '10 GB'  ; container = 'nanozoo/busco:3.0.2--a8ce7e1' }
    }