
workDir = "/tmp/nextflow-work-$USER"
process.executor = 'local'
docker { enabled = true }

        process {
            withLabel: HISAT2 { cpus = params.threads ; container = 'nanozoo/hisat2:2.1.0--c6f93d9' } 
            withLabel: BUSCO { cpus = params.threads ; container = 'nanozoo/busco:latest' }
            withLabel: TRANSRATE { cpus = params.threads ; container = 'nanozoo/transrate:1.0.1--d1db6c1' }
            withLabel: RNAQUAST { cpus = params.threads ; container = 'nanozoo/rnaquast:1.5.2--0ecea11' }
            withLabel: DETONATE { cpus = params.threads ; container = 'lmfaber/detonate:latest' }
            withLabel: RSEM { cpus = params.threads ; container = 'lmfaber/rsem:latest' }
            withLabel: Ex90N50 { cpus = params.threads ; container = 'lmfaber/ex90n50:latest' }
            withLabel: HEATMAP { container = 'lmfaber/heatmap:latest'}
        }