
workDir = "/tmp/nextflow-work-$USER"
process.executor = 'local'
docker { enabled = true }

        process {
            withLabel: HISAT2 { cpus = params.threads ; container = 'nanozoo/hisat2:2.1.0--c6f93d9' } 
            withLabel: BUSCO { cpus = params.threads ; container = 'nanozoo/busco:3.0.2--a8ce7e1' }
        }
