
workDir = "/tmp/nextflow-work-$USER"
process.executor = 'local'
docker { enabled = true }

        process {
            withLabel: HISAT2 { cpus = params.threads ; container = 'nanozoo/hisat2:2.1.0--c6f93d9' } 
            withLabel: BUSCO { cpus = params.threads ; container = 'nanozoo/busco:3.0.2--a8ce7e1' }
            withLabel: TRANSRATE { cpus = params.threads ; container = 'nanozoo/transrate:1.0.1--d1db6c1' }
            withLabel: RNAQUAST { cpus = params.threads ; container = 'nanozoo/rnaquast:1.5.1' }
            withLabel: DETONATE { cpus = params.threads ; container = 'nanozoo/detonate:1.11--d83918c' }
        }
